<!-- PRELOADER -->
<div class="preloader" id="preloader">
    <div class="preloader-content">
        <div class="preloader-logo-wrapper">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="XLOVEBEATZ" class="preloader-logo">
            <div class="preloader-glow"></div>
        </div>
        
        <div class="preloader-eq">
            <div class="eq-bar"></div>
            <div class="eq-bar"></div>
            <div class="eq-bar"></div>
            <div class="eq-bar"></div>
            <div class="eq-bar"></div>
        </div>

        <div class="preloader-bar">
            <div class="preloader-progress" id="preloaderProgress"></div>
        </div>
        <div class="preloader-text" id="preloaderText">LOADING... 0%</div>
    </div>
</div>