<div class="account-modal-overlay" id="accountModalOverlay"></div>
<aside class="account-modal" id="accountModal">
    <div class="account-modal-header">
        <div class="account-modal-profile">
            <div class="account-avatar" id="accountAvatar">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="account-info">
                <h3 id="accountModalUsername">Guest</h3>
                <p id="accountModalEmail">Sign in to access your account</p>
            </div>
        </div>
        <button class="account-modal-close" id="closeAccountModalBtn">
            <i class="fas fa-times"></i>
        </button>
    </div>

</aside>